<h3 class="center-text"><%= @doctor.name %></h3>

<div class="form-wrapper center">
	<div class="inner-form-wrapper center blue">
		<h4 class="center-text">Schedule a new appointment</h4>
		<div id="appointment-errors" class="errors"></div>
		<%= form_for [@doctor, @appointment] do |f|%>
			<div class="input-wrapper">
				<div>
					<%= f.label :patient %>
				</div>
				<div>
					<%= f.text_field :patient %>
				</div>
			</div>
			<div class="input-wrapper">
				<div>
					<%= f.label :starts_at %>
				</div>
				<div>
					<%= f.datetime_select :starts_at, :discard_seconds => true %>
				</div>
			</div>
			<div class="input-wrapper">
				<div>
					<%= f.label :ends_at%>
				</div>
				<div>
					<%= f.datetime_select :ends_at, :discard_seconds => true %>
				</div>
			</div>
			<div class="input-wrapper">
				<%= f.submit %>
			</div>
		<% end %>
	</div>
</div>

<div id="calendar" class="one-doctor"></div>
