<div id="appointment-errors"></div>
<%= form_for [@doctor, @appointment] do |f|%>
	Patient: <%= f.text_field :patient %>
	Start Time: <%= f.datetime_select :starts_at, :discard_seconds => true %>
	End Time: <%= f.datetime_select :ends_at, :discard_seconds => true %>
	<%= f.submit %>
<% end %>

<div id="calendar" class="one-doctor"></div>
