<!DOCTYPE html>
<html>
<head>
  <title>Appoint A Doc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div id="nav-wrapper" class="center-text blue">
		<h2 id="logo"><%= link_to "Appoint A Doc", root_path %></h2>
		<button class="hamburger">&#9776;</button>
		<button class="cross">&#735;</button>
		<div class="clear-fix"></div>
		<ul id="navbar">
			<% @doctors.each do |doctor| %>
				<li><%= link_to doctor.name, doctor_path(doctor)%></li>
			<% end %>
		</ul>

	</div>

	<div id="main">
		<%= yield %>
	</div>
	<div class="clear-fix"></div>
</div>
</body>
</html>
